@model IEnumerable<mvcassignment.Models.PersonLite>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.LastName )</th>
        <th>@Html.DisplayNameFor(model => model.FirstName )</th>
        <th>@Html.DisplayNameFor(model => model.Email )</th>
        <th>@Html.DisplayNameFor(model => model.Apartment )</th>
        <th>@Html.DisplayNameFor(model => model.Street )</th>
        <th>@Html.DisplayNameFor(model => model.City )</th>
        <th>@Html.DisplayNameFor(model => model.State )</th>
        <th>@Html.DisplayNameFor(model => model.Zipcode )</th>
        <th>@Html.DisplayNameFor(model => model.HomePhone )</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.Apartment)</td>
        <td>@Html.DisplayFor(modelItem => item.Street)</td>
        <td>@Html.DisplayFor(modelItem => item.City)</td>
        <td>@Html.DisplayFor(modelItem => item.State)</td>
        <td>@Html.DisplayFor(modelItem => item.Zipcode)</td>
        <td>@Html.DisplayFor(modelItem => item.HomePhone)</td>
    </tr>
}
</table>
